.tim-row {
  margin-bottom: 20px;
}

.tim-white-buttons {
  background-color: #777777;
}

.typography-line {
  padding-left: 25%;
  margin-bottom: 35px;
  position: relative;
  display: block;
  width: 100%;
}

.typography-line span {
  bottom: 10px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  position: absolute;
  width: 260px;
  text-transform: none;
}

.tim-row {
  padding-top: 60px;
}

.tim-row h3 {
  margin-top: 0;
}

.offline-doc .page-header {
  display: flex;
  align-items: center;
}

.offline-doc .footer {
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}

@media all and (min-width: 992px) {
  .sidebar .nav>li.active-pro {
    position: absolute;
    width: 100%;
    bottom: 10px;
  }
}

.card.card-upgrade .card-category {
  max-width: 530px;
  margin: 0 auto;
}

.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-title {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #00bf9a;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #00bf9a;
}

.centered-div {
  margin-top: 15px;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100%; /* Esto es opcional si deseas centrar verticalmente en toda la altura del div */
}

.modal-image {
  width: 80%; /* La imagen ocupa el 100% del ancho del modal-body */
  height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
  max-height: 100%; /* La altura máxima es igual al 100% del modal-body */
  object-fit: cover; /* La imagen se ajusta para cubrir completamente el contenedor */
}

#cardResultProcess {
  width: 100%; /* Ancho deseado del contenedor */
  /*height: 90%;*/ /* Alto deseado del contenedor */
  position: relative; /* Asegura que el contenedor tenga un contexto de posición para la imagen */
}

#cardResultProcess img {
  width: 100%; /* Establece el ancho de la imagen al 100% del contenedor */
  height: 100%; /* Establece el alto de la imagen al 100% del contenedor */
  object-fit: cover; /* Opcional: controla cómo se ajusta la imagen en el contenedor */
}