{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success alert-with-icon" data-notify="container">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
          <span data-notify="icon" class="tim-icons icon-chat-33"></span>
          <span data-notify="message">Agregue la muestra de sangre a trav&eacute;s del bot&oacute;n <b>Seleccionar archivo</b>, el resultado se procesará y almacenar&aacute; para futuras métricas y otros indicadores. Al procesar una imagen acepta los t&eacute;rminos y condiciones sobre el uso del sistema de detección. <br> <a href="/terms_and_conditions.html" target="_blank">Ver t&eacute;rminos y condiciones.</a>
          </span>
        </div>
        
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title">Importe un archivo en formato .jpg, .jpeg o .png</h4>
          </div>
        
          <div class="card-body">

            <form action="{{ url_for('authentication_blueprint.procesar_imagen') }}" method="post" enctype="multipart/form-data">
              <!--
              <input type="file"  class="form-control" name="imagen">
              -->
              <label for="images" class="drop-container" id="dropcontainer">
                <span class="drop-title">Arrastre la imagen aqu&iacute;</span>
                
                O
                <input type="file" id="images" name="imagen" accept="image/*" required>
              </label>
              <div class="centered-div">
                <input type="submit" class="btn btn-fill btn-primary centered-button" value="Procesar Imagen">
              </div>
  
            </form>
           
          </div>
        </div>

        
      </div>
      <div class="col-md-12">
        <div class="card  card-plain">
          <div id="cardHeaderProcess" class="card-header">
            <h4 class="card-title">Los resultados se mostrarán aquí</h4>
            <p class="category">Espere a que se cargue el contenido</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div id="cardResultProcess"></div>
              </div>
              <div class="col-md-6">
                <div class="table-responsive">
                  <table class="table tablesorter " id="tableResult" style="display: none;">
                    <thead class=" text-primary">
                      <tr>
                        <th colspan="2">
                          Información del procesamiento
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          Gl&oacute;bulos detectados:
                        </td>
                        <td>
                          <div id="number_of_blobs"></div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Tiempo de procesamiento:
                        </td>
                        <td>
                          <div id="time_process"></div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          C&oacute;digo de proceso:
                        </td>
                        <td>
                          <div id="transaction_id"></div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Calificar la precisi&oacute;n del resultado:
                        </td>
                        <td>
                          <input type="range"  id="user_range" name="">
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <textarea rows="4" id="user_note" cols="80" class="form-control" placeholder="Ingrese alguna nota u observación sobre los resultados." value="Mike"></textarea>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" style="border-top: none;">
                          <button class="btn btn-primary btn-block" id="processButton" onclick="saveProcess()">
                            Guardar Resultados
                          </button>
                        </td>
                      </tr>
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card  card-plain">
          <div class="card-header">
            <h4 class="card-title">Tabla de resultados hist&oacute;ricos</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="tableProcess">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      ID
                    </th>
                    <th>
                      Nombre de transacci&oacute;n
                    </th>
                    <th>
                      N&uacute;mero de gl&oacute;bulos
                    </th>
                    <th>
                      Tiempo de procesamiento
                    </th>
                    <th>
                      Calificaci&oacute;n del resultado
                    </th>
                    <th>
                      Nota del usuario
                    </th>
                    <th>
                      Ver imagen
                    </th>
                  </tr>
                </thead>
                <tbody>
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="modal modal-search fade" id="processModal" tabindex="-1" role="dialog" aria-labelledby="processModal"
      aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Imagen procesada">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="tim-icons icon-simple-remove"></i>
                    </button>
                </div>
                <div class="modal-body" id="processModalContent">
                  
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var fields = {
      'number_of_blobs': 0,
      'time_process': 0,
      'transaction_id': 0,
      'user_range': 0,
      'user_note': '',
    }

    document.addEventListener('DOMContentLoaded', function () {
        const formInput = document.querySelector('form');
        const tableDisplay = document.getElementById('tableResult');
        const cardHeaderProcess = document.getElementById('cardHeaderProcess');
        const cardResultProcess = document.getElementById('cardResultProcess');

        formInput.addEventListener('submit', function (e) {
          let elementHTML = document.getElementById('processButton');
          elementHTML.disabled = false;

            e.preventDefault();

            const formData = new FormData(formInput);

            fetch("{{ url_for('authentication_blueprint.procesar_imagen') }}", {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
              if (data.error) {
                cardResultProcess.innerHTML = `<p>Error: ${data.error}</p>`;
              } 
              else {
                //Desplegamos la tabla
                tableDisplay.style.display = '';

                cardHeaderProcess.innerHTML = "";
                //cardHeaderProcess.innerHTML = `<h4 class="card-title">Número de glóbulos detectados: ${data.num_blobs}</h4> <p class="category">El resultado se almacenará para futuras métricas</p>`
                let keys = Object.keys(data.content_data)

                keys.forEach(k => {
                  elementHTML = document.getElementById(k)
                  elementHTML.innerHTML = data.content_data[k]
                  fields[k] = data.content_data[k]
                })

                cardResultProcess.innerHTML = `<img src="data:image/png;base64,${data.image_base64}" style="width=100%;" alt="resultado">`;
              }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });

    const dropContainer = document.getElementById("dropcontainer")
    const fileInput = document.getElementById("images")

    dropContainer.addEventListener("dragover", (e) => {
      // prevent default to allow drop
      e.preventDefault()
    }, false)

    dropContainer.addEventListener("dragenter", () => {
      dropContainer.classList.add("drag-active")
    })

    dropContainer.addEventListener("dragleave", () => {
      dropContainer.classList.remove("drag-active")
    })

    dropContainer.addEventListener("drop", (e) => {
      e.preventDefault()
      dropContainer.classList.remove("drag-active")
      fileInput.files = e.dataTransfer.files
    })

    function saveProcess(){
      let element = document.getElementById('user_range')
      fields.user_range = element.value
      element = document.getElementById('user_note')
      fields.user_note = element.value
      
      fetch("{{ url_for('authentication_blueprint.api_save_process') }}", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(fields)
      })
      .then(response => response.json())  // Si esperas una respuesta JSON del servidor
      .then(data => {
        element = document.getElementById('processButton');
        element.disabled = true;
        demo.showNotification('top', 'center', 'Se guardó el resultado de la detección de glóbulos correctamente.')
        getHistoric()
      })
      .catch(error => {
        console.error('Error:', error);
      });
      
    }

    function getHistoric(){
      fetch("{{ url_for('authentication_blueprint.get_historic') }}", {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },
      })
      .then(response => response.json())  // Si esperas una respuesta JSON del servidor
      .then(data => {
        let table = document.getElementById("tableProcess");
        let rows = table.rows;
        for (let i = rows.length - 1; i > 0; i--) {
          table.deleteRow(i);
        }

        data.images.forEach(el => {
          table = document.getElementById("tableProcess").getElementsByTagName('tbody')[0];
          let fila = table.insertRow();
          let celda1 = fila.insertCell(0);
          let celda2 = fila.insertCell(1);
          let celda3 = fila.insertCell(2);
          let celda4 = fila.insertCell(3);
          let celda5 = fila.insertCell(4);
          let celda6 = fila.insertCell(5);
          let celda7 = fila.insertCell(6);

          //Insertar contenido
          celda1.innerHTML = (el.id + 1000);
          celda2.innerHTML = el.transaction_id;
          celda3.innerHTML = el.number_of_blobs;
          celda4.innerHTML = el.time_process;
          celda5.innerHTML = el.user_range + '%';
          celda6.innerHTML = el.user_note;
          celda7.innerHTML = `<button class="btn btn-link" onclick="displayImageProcess('${el.transaction_id}')"" id="search-button" data-toggle="modal"
                                    data-target="#processModal"><i class="tim-icons icon-image-02"></i>
                                <span class="d-lg-none d-md-block">Search</span>
                            </button>`;


        });
        //console.error(data.images.length);
      })
      .catch(error => {
        //console.error('Error:', error);
      });
      
    }

    function displayImageProcess(id){
      const processModalContent = document.getElementById('processModalContent');
      processModalContent.innerHTML = `<div class="centered-div"><img src="/static/assets/process_image/${id}.jpg" class="modal-image" alt="resultado"></div>`;
    }

    getHistoric()

  </script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
