{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success alert-with-icon" data-notify="container">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
          <span data-notify="icon" class="tim-icons icon-chat-33"></span>
          <span data-notify="message">Agregue la muestra de sangre a trav&eacute;s del bot&oacute;n <b>Seleccionar archivo</b>, el resultado se procesará y almacenar&aacute; para futuras métricas y otros indicadores. Al procesar una imagen acepta los t&eacute;rminos y condiciones sobre el uso del sistema de detección. <br> <a href="https://www.w3schools.com" target="_blank">Ver t&eacute;rminos y condiciones.</a>
          </span>
        </div>
        
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title">Importe un archivo en formato .jpg, .jpeg o .png</h4>
          </div>
        
          <div class="card-body">

            <form action="{{ url_for('authentication_blueprint.procesar_imagen') }}" method="post" enctype="multipart/form-data">
              <!--
              <input type="file"  class="form-control" name="imagen">
              -->
              <label for="images" class="drop-container" id="dropcontainer">
                <span class="drop-title">Arrastre la imagen aqu&iacute;</span>
                
                O
                <input type="file" id="images" name="imagen" accept="image/*" required>
              </label>
              <div class="centered-div">
                <input type="submit" class="btn btn-fill btn-primary centered-button" value="Procesar Imagen">
              </div>
  
            </form>

           

            
           
          </div>
        </div>

        
      </div>
      <div class="col-md-12">
        <div class="card  card-plain">
          <div id="cardHeaderProcess" class="card-header">
            <h4 class="card-title">Los resultados se mostrarán aquí</h4>
            <p class="category">Espere a que se cargue el contenido</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div id="cardResultProcess"></div>
              </div>
              <div class="col-md-6">
                <div class="table-responsive">
                  <table class="table tablesorter " id="tableResult">
                    <thead class=" text-primary">
                      <tr>
                        <th colspan="2">
                          Información del procesamiento
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          Gl&oacute;bulos detectados:
                        </td>
                        <td>
                          154
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Tiempo de procesamiento:
                        </td>
                        <td>
                          00:00:01
                        </td>
                      </tr>
                      <tr>
                        <td>
                          C&oacute;digo de proceso:
                        </td>
                        <td>
                          bc9pe2iqinz5qz3
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Calificar la precisi&oacute;n del resultado:
                        </td>
                        <td>
                          <input type="range" name="">
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <textarea rows="4" cols="80" class="form-control" placeholder="Ingrese alguna nota u observación sobre los resultados." value="Mike"></textarea>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" style="border-top: none;">
                          <button class="btn btn-primary btn-block" >Guardar Resultados</button>
                        </td>
                      </tr>
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card  card-plain">
          <div class="card-header">
            <h4 class="card-title"> Table on Plain Background</h4>
            <p class="category"> Here is a subtitle for this table</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Name
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Dakota Rice
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Dakota Rice
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Dakota Rice
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Dakota Rice
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Dakota Rice
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        const formulario = document.querySelector('form');
        const cardHeaderProcess = document.getElementById('cardHeaderProcess');
        const cardResultProcess = document.getElementById('cardResultProcess');
        

        formulario.addEventListener('submit', function (e) {
            e.preventDefault();

            const formData = new FormData(formulario);

            fetch("{{ url_for('authentication_blueprint.procesar_imagen') }}", {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
              if (data.error) {
                cardResultProcess.innerHTML = `<p>Error: ${data.error}</p>`;
              } 
              else {
                cardHeaderProcess.innerHTML = "";
                //cardHeaderProcess.innerHTML = `<h4 class="card-title">Número de glóbulos detectados: ${data.num_blobs}</h4> <p class="category">El resultado se almacenará para futuras métricas</p>`

                cardResultProcess.innerHTML = `<img src="data:image/png;base64,${data.image_base64}" style="width=100%;" alt="resultado">`;
              }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });

    const dropContainer = document.getElementById("dropcontainer")
    const fileInput = document.getElementById("images")

    dropContainer.addEventListener("dragover", (e) => {
      // prevent default to allow drop
      e.preventDefault()
    }, false)

    dropContainer.addEventListener("dragenter", () => {
      dropContainer.classList.add("drag-active")
    })

    dropContainer.addEventListener("dragleave", () => {
      dropContainer.classList.remove("drag-active")
    })

    dropContainer.addEventListener("drop", (e) => {
      e.preventDefault()
      dropContainer.classList.remove("drag-active")
      fileInput.files = e.dataTransfer.files
    })

  </script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
